<html>
<head>
<title>{{title}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset='utf-8'>
<link rel='stylesheet' href="/assets/css/bootstrap.css">
<link rel='stylesheet' href="/assets/css/nprogress.css">
<script src='/assets/js/jquery-1.9.1.min.js'></script>
<script src="/assets/js/nprogress/nprogress.js"></script>
<script type="text/javascript">
$('.navbar-fixed-top').ready(function(){NProgress.start();});
</script>
<script type="text/javascript">
$(window).load(function(){NProgress.done()});
</script>
{% block head %}
{% endblock %}
</head>
<body>
<div class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
        <a class="brand" href="#">{{ title }}</a>
        <ul class="nav">
            <li{% if pid == 0 %} class='active'{% endif %}><a href="/">伺服器總覽</a></li>
            <li{% if pid == 2 %} class='active'{% endif %}><a href="/single">各伺服器詳細狀態</a></li>
            <li{% if pid == 1 %} class='active'{% endif %}><a href="/status">伺服器狀態</a></li>
        </ul>
    </div>
</div>
{% block body%}
{% endblock %}
{% block endjs %}
{% endblock %}
</body>
</html>
