{% extends "base.html" %}
{% block head %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
{% for sc in server_comp  %}
google.load("visualization", "{{loop.index}}", {packages:["corechart"]});
function drawChart{{loop.index}}() {
    NProgress.start();
    var data{{loop.index}} = google.visualization.arrayToDataTable({{ sc|raw }});
    var options{{loop.index}} = {
        title       : '{{dbs[loop.index-1]}}',
        chartArea   : { left: 40,width: "100%", top: 40, height: "95%"},
        hAxis       : { title: 'Hours',
                        minorGridlines: { count: 3 },
                        textStyle: { fontSize: 16, bold: true } },
        vAxis       : { title: 'Server Average',
                        viewWindow: { min: -2 },
                        textStyle: { fontSize: 16, bold: true } },
        legend      : { position: 'in',
                        textStyle: { fontSize: 16, bold: true } },
        curveType   : 'function',
        animation : { duration: 1000}
    };
    var chart{{loop.index}} = new google.visualization.LineChart(document.getElementById('chart_div{{loop.index}}'));
    chart{{loop.index}}.draw(data{{loop.index}}, options{{loop.index}});
    NProgress.done();
}
function drawDetailChart{{loop.index}}(){
    NProgress.start();
    var data{{loop.index}} = google.visualization.arrayToDataTable({{ server_comp_em[loop.index-1]|raw }});
    var options{{loop.index}} = {
        title       : '{{dbs[loop.index-1]}}',
        chartArea   : { left: 40,width: "100%", top: 40, height: "95%"},
        hAxis       : { title: 'Minutes',
                        gridlines: { count: 4, color: '#333' },
                        textStyle: { fontSize: 16, bold: true } },
        vAxis       : { title: 'Server Average',
                        viewWindow: { min: -2 },
                        textStyle: { fontSize: 16, bold: true } },
        legend      : { position: 'in',
                        textStyle: { fontSize: 16, bold: true } },
        curveType   : 'function',
        animation : { duration: 1000}
    };
    var chart{{loop.index}} = new google.visualization.LineChart(document.getElementById('chart_div{{loop.index}}'));
    chart{{loop.index}}.draw(data{{loop.index}}, options{{loop.index}});
    //$('#chart_div{{loop.index}}').load(function(){NProgress.done()});
    NProgress.done();
}
{% endfor %}
</script>
{% endblock %}
{% block body %}
<div class='well'>
<a name='{{dbs[0]}}'></a>
  <div class="row">
  <div class="span4">
    <h1>iCDN 模擬結果</h1>
  </div>
  <div class="span8">
  <form class="form-inline" method="post" action="#">
    <select name='life[]' class="span1-5" multiple="multiple">
        <option disabled>連線時間</option>
      {% for life in _life %}
        <option value="{{ life }}">{{ life }}</option>
      {% endfor %}
    </select>
    <select name='z[]' class="span1" multiple="multiple">
        <option disabled>zipf</option>
      {% for z in _z %}
        <option value="{{ z }}">{{ z }}</option>
      {% endfor %}
    </select>
    <select name='pids[]' class="span1-5" multiple="multiple">
        <option disabled>檔案數量</option>
      {% for pids in _pids %}
        <option value="{{ pids }}">{{ pids }}</option>
      {% endfor %}
    </select>
    <select name='mp[]' class="span1-5" multiple="multiple">
        <option disabled>頻寬倍數</option>
      {% for mp in _mp %}
        <option value="{{ mp }}">{{ mp }}</option>
      {% endfor %}
    </select>
    <input class='btn btn-primary btn-small' type="submit" value="確定" name="submit_filter">
  </form>
  </div>
  </div>
</div>
<div class="container">
<div class="row">
<div class="bs-docs-sidebar">
  <ul class="nav nav-list bs-docs-sidenav affix">
{% for db in dbs %}
    <li><a href="#{{db}}"><i class="icon-chevron-left"></i> {{db}}</a></li>
{% endfor %}
  </ul>
</div>
<div class="span16">
  <div class="row">
  </div>
{% for db in dbs %}
    {% if system_table[loop.index-1] %}
  <div class="row" id="{{db}}">
    <div class='span15' style="margin-left:40px;margin-right:-40px;">
      <div class="btn-group" data-toggle="buttons-radio"><button class="btn btn-mini btn-info active" onClick="drawChart{{loop.index}}();">每小時</button><button class="btn btn-mini btn-info" onClick="drawDetailChart{{loop.index}}();">每分鐘</button></div>
      {% if percentage[loop.index-1] != 100 %}
      <div class="progress progress-warning progress-striped active">
        <div class="bar" style="width: {{percentage[loop.index-1]}}%;"></div>
      </div>
      {% endif %}
    </div>
    <div class="row">
      <div class="span4">
        <table class='table'>
        <tr><td>{{db}}</td><td><form action='/single' method='post'><input type='hidden' name='db' value='{{db}}'><button class='btn btn-mini btn-primary' type='submit' name='submit'>詳情內洽</button></form></td></tr>
        <tr><td>參數</td><td>設定值</td></tr>
        {% for set in system_table[loop.index-1] %}
        <tr><td>{{set.setting}}</td><td>{{set.value}}</td></tr>
        {% endfor %}
        </table>
      </div>
      <div id="chart_div{{loop.index}}" class="span12" style="height:400px;"></div>
    </div>
    <a name='{{dbs[loop.index]}}'></a>
  </div>
    {% endif %}
  <hr>
{% endfor %}
{% for db in dbs %}
      <script>
        $('#chart_div{{loop.index}}').ready(function(){drawChart{{loop.index}}();});
      </script>
{% endfor %}
</div>
</div>
</div>
{% endblock %}

{% block endjs %}
<script src="/assets/js/bootstrap.js"></script>
{% endblock %}
