{% extends "base.html" %}
{% block head %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization', 'version':'1','packages':['timeline']}]}"></script>
<script type="text/javascript">
  $('#db-selection').ready(function(){NProgress.start();});
  google.load("visualization", "1", {packages:["corechart"]});
  function drawChart(){
    var data = google.visualization.arrayToDataTable({{ server_comp|raw }});

    var options = {
        chartArea       : { left: 50,width: "95%", height: "750px"},
        hAxis           : { textStyle: { fontSize: 16, bold: true},
                          title: "分鐘",
                        },
        vAxis           : { title: '伺服器數量',
                            titleTextStyle: { fontSize: 16 },
                          viewWindow: { min: -5 },
                          textStyle: { fontSize: 16, bold: true} },
        legend          : { position: 'in',
                          textStyle: { fontSize: 16, bold: true} },
        tooltip         : { textStyle: { fontSize: 16, bold: true } },
        animation : { duration: 1000}
    };

    var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
    chart.draw(data, options);
    var chart2 = new google.visualization.LineChart(document.getElementById('chart_div2'));
    chart2.draw(data, options);
}

  function drawBwChart(ttime){
    var chart = new google.visualization.Timeline(document.getElementById('bw-pid-chart'));
    var data = new google.visualization.DataTable();
    data.addColumn({type: 'string', id: 'Server Name'});
    data.addColumn({type: 'string', id: 'PID'});
    data.addColumn({type: 'date', id: 'start'});
    data.addColumn({type: 'date', id: 'end'});
    if(ttime == null){
      aj_data = { db: "CDN_600_7_15000_8",
                  time: 0};
    }else{
      aj_data = { db: "{{selecteddb}}",
                  time: ttime};
    }
    $.ajax({
      type  : "POST",
      url   : "/ajax/server_detail.php",
      data  : aj_data,
      dataType  : "json",
      cache : false,
      success   : function(result){
                    var start = 0;
                    var end = 0;
                    console.log(result);
                    var rawdata = new Array();
                    var k=0;
                    for(var i = 0; i < 1; i++){
                      start = 1000;
                      end = 0;
                      console.log(result[0]);
                      for(var j = result[i].content.length - 1; end < 2000; j--){
                      //for(var j = 0; j < 4; j++){
                        //console.log(result[0].content[j].pid);
                        end = start + result[i].content[j].counter;
                        //console.log([result[i].sid + ':' + result[i].state, result[i].sid, new Date(1000 + start,1,1), new Date(1000 + end, 1, 1) ]);
                        rawdata[k++] = [result[i].sid + ':' + result[i].state, result[i].content[j].pid.toString(), new Date(start,1,1), new Date(end, 1, 1) ];
                        start = end;
                      }
                    }
                    console.log(rawdata);
                    data.addRows(rawdata);
                    chart.draw(data);
                  },
      error : function(xhr,status,error){$('#bw-pid-chart').text(error + xhr + status);console.log(status + xhr + error);}
    });
    /*
    $.getJSON('ajax/server_detail.php',function(result,status){
      console.log(result + status);
        $.each(result,function(i,field){$('#bw-pid-chart').text(field);});}
      );
    */
  }
  function aaa(){
    $.ajax({
      type  : "POST",
      url   : "/ajax/server_detail.php",
      data  : aj_data,
      dataType  : "text",
      cache : false,
      success   : function(result){
                    //console.log(result);
                    a=jQuery.parseJSON(result);
                    console.log(a);
                  },
      error : function(xhr,status,error){$('#bw-pid-chart').text(error + xhr + status);console.log(status + xhr + error);}
    });
  }
</script>
{% endblock %}
{% block body %}
<div class='well'>
<h1>iCDN 模擬結果</h1>
</div>
<div class="container">
<div class="row">
    <div class="fluid-row">
      <div class="span4">
          <form id='db-selection' class='form-inline' method='post' action='#'>
                  <select name='db'>
                  {% for db in dbs %}
                  <option{% if db == selecteddb %} selected {%endif%}>{{(db)}}</option>
                  {% endfor %}
                  </select>
                  <button class='btn' type='submit' name='submit'>確定</button>
          </form>
      </div>
      <div class='span1 offset7'>
        <a class='btn btn-primary' href='/#{{selecteddb}}'>返回</a>
      </div>
    </div>
    {% if system_table %}
    <div class="span15">
      <table class='table'>
      <tr><td>參數</td><td>設定值</td></tr>
      {% for set in system_table%}
      <tr><td>{{set.setting}}</td><td>{{set.value}}</td></tr>
      {% endfor %}
      </table>
    </div>
    {% endif %}
    <div id="bw-pid-chart" class="span15"></div>
    <div class="re-scrollable span15">
      <div id="chart_div" style=" height: 800px;width: {{width}}px;"></div>
    </div>
    <div class="re-scrollable span15">
      <div id="chart_div2" style=" height: 800px;"></div>
    </div>
    <div class="span15">
      <table class='table table-condensed'>
      <tr>
          <td class='span1-5'>系統時間</td>
          <td class='span2'>伺服器總數</td>
          <td class='span2'>bwf 數量</td>
          <td class='span2'>spf 數量</td>
          <td class='span2'>full 數量</td>
          <td>存活連線總數</td>
          <td>節目總數</td>
          <td>新增檔案次數</td>
      </tr>
      </table>
    </div>
    <div class='span15'>
      <div class='pre-scrollable'>
        <table class='table'>
        {% for log in log_table %}
        <tr {% if log.file_add == 0 %}class='success'{% elseif log.sv_bw > 1000000%}class='error'{% endif %}>
            <td class='span1-5'>{{log.sys_time}}</td>
            <td class='span2'>{{log.num_sv_total}}</td>
            <td class='span2'>{{log.num_sv_b}}</td>
            <td class='span2'>{{log.num_sv_s}}</td>
            <td class='span2'>{{log.num_sv_f}}</td>
            <td>{{log.num_conn_total}}</td>
            <td>{{log.num_pid_total}}</td>
            <td>{{log.file_add}}</td>
        </tr>
        {% endfor %}
        </table>
      </div>
    </div>
</div>
<hr>
</div>
<footer>
</footer>
{% endblock %}
{% block endjs %}
<script type="text/javascript">
$('footer').ready(function(){drawChart();});
</script>
{% endblock %}
