{% extends "base.html" %}
{% block head %}
<script type="text/javascript">
function saveInfo(form_form){
    //var res=document.getElementById("id_name");
    var res=document.getElementById(form_form).plus;
    var form_data = document.getElementById(form_form);

    var post_url="/post.php";
    var post_data="name="+form_data.name.value+"&age="+form_data.age.value;
    var ajax=new XMLHttpRequest();
    ajax.open("POST",post_url,true);
    ajax.setRequestHeader("Content-Type","application/x-www-form-urlencoded");
    ajax.send(post_data);
    ajax.onreadystatechange = function () {

        res.value = ajax.responseText;
    }
    res.innerHTML = post_data;
}
</script>
{% endblock %}
{% block body %}
<div class='well'>
<h1>Hello</h1>
</div>
<div class="container-fluid">
<div class="row-fluid">
<table class="table table-hover">
{% for item in service %}
<tr><td>{{ item.service }}</td><td>{{ item.content }}</td></tr>
{% endfor %}
</table>
</div>
</div>
<div class='well'>
<form id='test_form'>
name:<input name='name' type='text' id='id_name'>
age:<input name='age' type='text' id='id_age'>
<input type='button' value='submit' onclick='saveInfo("test_form")'/>
<button name='plus'>TEST</button>
</form>
<div id='res'></div>
</div>
{% endblock %}
